body{
    margin:auto;
}

#fd{

      left: 0%;
    right: 0%;
    top: 0px;
    background-image: url(../../assets/images/start-screen-background.jpg);
    background-size: cover;
    background:  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
    , #211F20;
}
#about{

    background: #FFFFFF;
}
#head{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0.06em;
    color: #545454;
}
header{
display: inline-flex;
justify-content: space-between;
width: 100%;
height: 60px;
top: 15px;
}
#logo{

    margin-left: 25px;
    width: 194px;
    left: 0px;
    top: 0px;
}

#friends{
    height: 800px;
    background: #F6F6F6;
    text-align: center;
}
#headp{
    font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        color: #4C4C4C;
        letter-spacing: 1px;
}
#ti{
    height: 35px;
    left: 0px;
margin-bottom: 0px;
    font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        color: #F1CDB3;
}
#subtitle{
    font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: 0.1em;

        /* color-light-xl */

        color: #FFFFFF;
}
#t1{
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #545454;
    padding-top: 75px;
}
h1{font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;}
    h4{
        font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            color: #CDCDCD;
    }
#bo{
    border-bottom: 5px solid #F1CDB3;
    padding-left: 0px;
    padding-right: 0px;
}
.button {
    background-color: #F1CDB3;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    padding: 15px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#cardcontainer{
    display: inline-flex;
    justify-content: space-between;
    width:100%
}
.cardimg{
border-radius: 9px 9px 0px 0px;
height: 270px;
width: 270px;

}
#cardp{
    font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.06em;
}
.card{
width: 270px;
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
margin: auto;
height: 435px;
background: #FAFAFA;
border-radius: 9px;
}
li a:hover {
    background-color: #111;
}

h2{
    font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        color: #545454;
}

#donation{
    padding: 29px;
    background: #F6F6F6;
    display: flex;
    justify-content: space-around;
}
#help{
    height: 550px;
    width: 100%;
    background: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #545454;
    padding-bottom: 60px;
}
.eq{
display: flex;
justify-content: space-around;

}
.item{
    max-height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: auto;
}
.itm{
    width: 60px;
    height: 60px;
}

#footer{

    padding:5px;
    display: flex;
    justify-content: space-around;
    background-image: url(../../assets/images/footer-background.png);
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%)
            , #211F20;
}
.footerh{
font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footericon{
    width: 40px;
    height: 32px;
}
.footerl{
font-family: 'Georgia';
    font-style: normal;
    margin-top: 5px;
    font-weight: 400;
    font-size: 17px;
    line-height: 115%;
    letter-spacing: 0.06em;
     color: #F1CDB3;
}
.ff{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




@media (min-width: 1080px) and (max-width: 3180px) {
    .part1 {
        width: 50%;
    }

    .part2 {
        width: 50%;
    }
    #main1{
        display: inline-flex;
        width: 100%;
    }
        #pimg {
            margin-left: 150px;
        }
    #photo1{
   max-width: 100%;
    height: auto;
    margin-top: 60px;
    }
    #head1{
        margin-top: 160px;
        margin-left: 25px
    }
    #about{
   display: inline-flex;
    width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1080px) {
#fd{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}
#photo1 {
max-width: 100%;
    height: 400px;
    margin-top: 60px;
}
.part1{
width:95%;
}
.part2{
width: 95%;
}
  #head1 {
      margin-top: 80px;
      margin-left: 25px
  }
  #ha4{
    font-size: 20px;
  }
  #about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    text-align: center;
    width: 100%;
  }
  #togglecard1{
display: none;
  }

  #donation{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;

  }
  #cc{
    margin: auto;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
#fd {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
#cc {
    margin: auto;
}
    .part1 {
        width: 95%;
    }
  #photo1 {
    max-width: 100%;
    height: 400px;
    margin-top: 60px;
}
 #head1 {
     margin-top: 80px;
     margin-left: 25px;
 }
    .part2 {
        width: 95%;
    }
        #ha4 {
            font-size: 20px;
        }
      #about {
                     display: flex;
                     flex-direction: column-reverse;
                     justify-content: space-around;
                     text-align: center;
                     width: 100%;
    }
        #togglecard {
            display: none;
        }
                #togglecard1 {
                    display: none;
                }
                #donation {
                    display: flex;
                    flex-direction: column-reverse;
                    text-align: center;
                        align-items: center;
                }
}